<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HoutaStoreTestSuite">
    <test name="NavigationTest">
        <classes>
            <class name="com.test.houta.NavigationTest"/>
        </classes>
    </test>
    <test name="CartAdditionTest">
        <classes>
            <class name="com.test.houta.CartAdditionTest"/>
        </classes>
    </test>
    <test name="CartRemovalTest">
        <classes>
            <class name="com.test.houta.CartRemovalTest"/>
        </classes>
    </test>
    <test name="BrowserCompatibilitySuiteChrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.test.houta.BrowserCompatibilityTest"/>
        </classes>
    </test>
    <test name="BrowserCompatibilitySuiteFirefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.test.houta.BrowserCompatibilityTest"/>
        </classes>
    </test>
    <test name="BrowserCompatibilitySuiteEdge">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.test.houta.BrowserCompatibilityTest"/>
        </classes>
    </test>
    <test name="AllRechercheTest">
        <classes>
            <class name="com.test.houta.TestRecherche">
                <methods>
                    <exclude name="testRechercheAvecLongTexte"/>
                </methods>
            </class>
        </classes>
    </test>
      <test name="FormTests">
        <classes>
            <class name="com.test.houta.FormTests"/>
        </classes>
    </test>    
    <test name="FilterTest">
        <classes>
            <class name="com.test.houta.ProductFilterAndSortTest"/>
        </classes>
    </test>
    
    <test name="ResponsiveDesignTest">
        <classes>
            <class name="com.test.houta.ResponsiveDesignTest"/>
        </classes>
    </test>
</suite>